In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import math as m
import scipy.stats as stats

In [4]:
df = pd.read_csv('./files_for_lab/machine.txt',encoding='utf-16', sep='\t')

In [5]:
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   New machine      10 non-null     float64
 1       Old machine  10 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In [7]:
new = df.iloc[:, 0]
old = df.iloc[:, 1]

In [8]:
new

0    42.1
1    41.0
2    41.3
3    41.8
4    42.4
5    42.8
6    43.2
7    42.3
8    41.8
9    42.7
Name: New machine, dtype: float64

In [9]:
old

0    42.7
1    43.6
2    43.8
3    43.3
4    42.5
5    43.5
6    43.1
7    41.7
8    44.0
9    44.1
Name:     Old machine, dtype: float64

In [10]:
def normality(df):
    test_stat_normality, p_value_normality=stats.shapiro(df)
    print("p value:%.4f" % p_value_normality)
    if p_value_normality <0.05:
        print("Reject null hypothesis >> The data is not normally distributed")
    else:
        print("Fail to reject null hypothesis >> The data is normally distributed")

In [12]:
# checking for old and new
normality(old)

p value:0.5010
Fail to reject null hypothesis >> The data is normally distributed

In [13]:
normality(new)

p value:0.9676
Fail to reject null hypothesis >> The data is normally distributed

In [14]:
ttest, pvalue = stats.ttest_ind(new, old, alternative = "less")
print("pvalue:", pvalue)
if pvalue < 0.05:
    print("Reject the Null Hypothesis")
else:
    print("No evidence to reject Null Hypothesis")

pvalue: 0.0016055712503872579
Reject the Null Hypothesis

In [ ]:
# Conculsion - there is not much difference between old and new machine, therefore can not claim one is better than the other